
<button onclick="window.location='http://'+window.location.host;">返回首页</button><br />
<button onclick="window.location='http://'+window.location.host+'/user_manager?user_id=<%= user_id %>';">返回用户管理首页</button><br />
